@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
html{
background-image:url(https://itz-marcus.github.io/CalculatorV2/sports-equipment-paper-background.jpg);
background-size:cover;
}

.cal-body{
    background-color: gray;
    position: absolute;
    height: 480px;
    width: 300px;  
    border-radius: 10px;
    box-shadow: 4px 4px 8px black; 
}

.screen{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 265px;
    font-family: "VT323", monospace;
    font-optical-sizing: auto;
    font-size: 60px;
    text-align: right;
    padding-right:10px ;
    background-color: rgb(86, 146, 86);
    color: rgb(11, 45, 11);
    text-shadow: 2px 2px 2px rgb(36, 107, 36); 
}
.cal-body div button{
    font-weight: bolder;
    font-size: 20px;
    position: relative;
    left: 4px; 
    margin: 5px;
    height: 60px;
    width: 60px;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(55, 55, 55));
    box-shadow: 4px 4px 8px rgb(85, 85, 85);
    color: white;
    border-radius: 10px;
}
#dec{
    background-image: linear-gradient(to bottom right, rgb(67, 67, 67), rgb(108, 108, 108));   
    width: 60px;
}
#num-0{
    width: 208px;
}
